/* Switch CSS */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #373a40;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #8b5cf6;
    /* Purple for BOQ mode */
}

input:focus+.slider {
    box-shadow: 0 0 1px #8b5cf6;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Traffic Light Table Rows */
.row-red {
    background-color: rgba(239, 68, 68, 0.15) !important;
    /* Low variance */
}

.row-yellow {
    background-color: rgba(245, 158, 11, 0.15) !important;
    /* Medium variance */
}

.row-green {
    background-color: rgba(16, 185, 129, 0.15) !important;
    /* Good variance */
}